<!-- local/grade/templates/tablecoursestudent.mustache -->

<div class="info-estudiante text-left">
    <div class="media" style="margin-top: -2px;">
        <div class="media-body align-self-center">
            <p class="h4 mb-0">{{course}}</p>
        </div>
    </div>
</div>

<table class="table table-bordered mt-3">
    <thead class="thead-dark">
        <tr>
            <th>Foto</th>
            <th>Nombre</th>
            <th>Categoria</th>
            <th>Opción</th>
        </tr>
    </thead>
    <tbody>
        {{#users}}
            <tr>
                <td align='center'>
                    <img src="{{profileImage}}" class="mr-1 rounded-circle" style="width: 40px; height: 40px;" alt="Foto de Perfil">
                </td>
                <td>{{firstname}} {{lastname}}</td>
                <td>{{category_name}}</td>
                <td>
                    {{#status}}
                        <a href="{{link}}" class="button-href-del" target="_blank">
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
                            </svg>

                        </a>
                    {{/status}}
                    {{^status}}
                        <span class="badge badge-danger">Sin acceso</span>
                    {{/status}}
                </td>
            </tr>
        {{/users}}
        {{^users}}
            <tr class="table-warning">
                <td colspan="4" class="text-center">Sin registros.</td>
            </tr>
        {{/users}}
    </tbody>
</table>
